@import "../mixins/text";

// ICON GENERATOR
@function get-icon($icon, $color: #fff) {
  $icon: map-get($icons, $icon);
  $placeholder: "%%COLOR%%";

  $data-uri: str-replace(url($data-svg-prefix + $icon), $placeholder, $color);

  @return str-replace($data-uri, "#", "%23");
}
