$toast-max-width:                   350px;
$toast-padding-x:                   calc-rem(12px);
$toast-padding-y:                   calc-rem(4px);
$toast-font-size:                   calc-rem(14px);
$toast-color:                       null;
$toast-border-width:                1px;
$toast-box-shadow:                  0 .25rem .75rem rgba($color-black, .1);
$toast-header-color:                $color-primary;