.filters {
	position: relative;
	margin: 0 calc-rem(-6px);
	z-index: 10;

	.form-field {
    margin-bottom: calc-rem(14px);

		> label {
			display: none;
		}
	}

  .react-select {
    &__control {
      min-height: calc-rem(38px);
    }
  }

  textarea, 
  input[type="text"],
  input[type="search"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="tel"] {
    padding-top: calc-rem(10px);
    padding-bottom: calc-rem(10px);
  }

	&__route {
		display: flex;
		align-items: center;

		.react-select {
			&-wrapper {
				min-width: calc-rem(100px);
			}

			&__control {
				box-shadow: 0 calc-rem(4px) calc-rem(4px) rgba($color-black, 0.25);
				border-radius: $border-radius-lg;
				font-size: calc-rem(13px);
				line-height: calc-rem(16px);
			}

			&__value-container {
				padding-left: calc-rem(45px);

				&::before {
					content: '';
					position: absolute;
					top: calc(50% + 1px);
					left: calc-rem(18px);
					background: $icon-direction no-repeat center center;
					background-size: cover;
					width: calc-rem(16px);
					height: calc-rem(16px);
					transform: translateY(-50%);
				}
			}

			&__indicators {
				display: none;
			}
		}
	}

  &__additional {
    margin-top: calc-rem(16px);
  }

	&__dash {
		flex: 1;
		height: 1px;
		border-bottom: 1px dashed rgba($color-white, 0.6);
		margin: 0 calc-rem(12px) calc-rem(14px);
	}

  &__more button {
    font-size: calc-rem(12px);
    text-decoration: underline;
    text-align: center;
    width: 100%;
  }
}
