//Button mixins
@mixin base-button(
  $color: $color-black,
  $background-color: $color-white,
  $border-color: none
) {
  @if ($border-color == none) {
    $border-color: $background-color;
  }

  color: $color;
  background-color: $background-color;
  border: 2px solid $border-color;
  @include transition((color, background-color, border-color), 0.3s);

  &:hover {
    background-color: darken($background-color, 10%);
    border-color: darken($border-color, 10%);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      opacity: 0.6;
    }
  }
}

// button component
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: 700 $btn-font-md $font-lato;
  line-height: calc-rem(16px);
  text-align: center;
  padding: $btn-padding-md;
  min-height: $btn-height-md;
  border-radius: $border-radius-pill;
  text-transform: uppercase;

  &-primary,
  &-primary-ghost,
  &-secondary {
    @extend .btn;
  }

  &-primary {
    @include base-button($color-dark-gray, $color-primary);

    &:hover {
      color: $color-dark-gray;
    }

    &-ghost {
      @include base-button(
        $color-white,
        transparent,
        $color-primary
      );
    }
  }

  &-secondary {
    @include base-button($color-secondary, $color-primary);
  }

  &-block {
    width: 100%;
  }

  &-stripped {
    @include base-button($color-secondary, transparent, transparent);
    display: inline-block;
    font-size: calc-rem(14px);
    font-weight: 700;
  }

  &-link {
    @include base-button($color-white, transparent, transparent);
  }
}

// based on size
.btn {
  &-sm {
    font-size: $btn-font-sm;
    min-height: $btn-height-sm;
    padding: $btn-padding-sm;
  }

  &-lg {
    min-height: $btn-height-lg;
    padding: $btn-padding-lg;
  }
}

// button with icon
.btn-icon {
  &-left {
    margin-left: $btn-icon-margin;

    i {
      margin-right: $btn-icon-spacing;
    }
  }

  &-right {
    margin-right: $btn-icon-margin;

    i {
      margin-left: $btn-icon-spacing;
    }
  }

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc-rem(10px);
  }
}
